<p id="notice"><%= notice %></p>

<p>
  <%= gravatar_for @user, size: 80 %>
  <strong><%= @user.name %></strong>
</p>

<p>
  <strong>邮箱：</strong>
  <%= @user.email %>
</p>

<p>
  <strong>当前关卡：</strong>
  <%= @user.show_level %>
</p>

<p>
<%= link_to "开始游戏", game_url %>
</p>

<p>
  <%= link_to '编辑个人信息', edit_user_path(@user) %> |
  <%= link_to '登出', logout_path, data: { confirm: '确定退出？' } %>
</p>

<p>
  <% if @user.id == 1 %>
    <%= link_to '玩家列表', users_path %>
  <% end %>
</p>